---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
---

<Layout />
<Navbar client:load />
<main class="mt-10">
  <div
    class="mb-4 md:mb-0 w-full max-w-screen-md mx-auto relative"
    style="height: 24em;"
  >
    <div
      class="absolute left-0 bottom-0 w-full h-full z-10"
      style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"
    >
    </div>
    <img
      src="https://burst.shopifycdn.com/photos/laptop-from-above.jpg?width=1200&format=pjpg&exif=1&iptc=1"
      class="absolute left-0 top-0 w-full h-full z-0 object-cover"
    />
    <div class="p-4 absolute bottom-0 left-0 z-20">
      <a
        href="#"
        class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2"
        >My story</a
      >
      <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
        How I went from being a chef to become a developer
      </h2>
      <div class="flex mt-3">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQGshAQSVRpGbw/profile-displayphoto-shrink_800_800/0/1660838548816?e=2147483647&v=beta&t=WMnMF06hBroS3pdJOxHcMx_70YCfRqJeV_0_O1kVkbw"
          class="h-10 w-10 rounded-full mr-2 object-cover"
        />
        <div>
          <p class="font-semibold text-gray-200 text-sm">Alberto</p>
          <p class="font-semibold text-gray-400 text-xs">04 Dec</p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed"
  >
    <p class="pb-6">
      I always loved computers and technology but when I was deciding which kind
      of career I want to pursue I choose cooking at the end, Why you would
      ask... I was trash in math, my mom told me this wasn't the logical reason
      and my correct path. So at the end of high school, I decided to travel
      from Italy to London. I started working there as a chef for nearly 2
      years. After that, I came back To Milano and I decided that working all my
      life in the steam of a kitchen wasn't my cup of tea. So I took a Master's
      in Food and Beverage management since I still loved being in the
      restaurant business but from a manager's prospective.
    </p>

    <p class="pb-6">
      After that, I tried to find a job in the field. But nothing, ABSOLUTELY
      nothing. I was looking for something and ended up working as a chef or
      waiter for small time frames. And then the miracle. My mother had just
      started an online marketing agency, it was going quite well. I started
      then helping her with translation and slowly after that, I started making
      websites for some restaurants or cosmetic's firm. From there i developed a
      passion for building beautiful and user friendly websites.
    </p>

    <div class="border-l-4 border-gray-500 pl-4 mb-6 italic rounded">
      There was only a problem, our clients started to ask us to build for them
      a web app to maybe handle orders or stuff like that. I went and tried to
      use normal eCommerce platforms like Shopify or Wix but I wasn't satisfied
      with the limited options they give you.
    </div>

    <p class="pb-6">
      Then I found the solution. I had to learn how to code. To make those
      perfect websites I had in mind it was NECESSARY. So I quit everything and
      went all in with a coding Bootcamp I found meanwhile I was watching reels
      on Instagram. It wasn't that good at all. I feel like I throw all those
      money away for nothing. Sure it helped me a little bit but unfortunately
      with lots of people most of them drag the class down and they make the
      teachers repeat simple stuff over and over again.
    </p>

    <h2 class="text-2xl text-gray-800 font-semibold mb-4 mt-4">
      What happened after the Bootcamp?
    </h2>

    <p class="pb-6">
      After that me and a girl were the only ones who found a job right after
      and even before the end. Why is that would you ask? The course was the
      same for everybody but what the others were lacking was the discipline to
      keep coding every day right after each lesson and the curiosity to always
      learn new stuff.
    </p>

    <p class="pb-6">
        Now I work 3 different jobs. My main one is in an IT
        company here in Italy, I still help my mother with the agency and I also
        started making content for this blog and soon also on youtube and
        Instagram. I appreciate that you did read through all of this. Thanks and
        don't forget to subscribe to my newsletter <a href="/newsletter">here!</a>
    </p>


  </div>
</main>

<Footer />
