---
import { SEO } from "astro-seo"
---

<html lang="en">
  <head>
    <SEO
      title="Tech with Alberto"
      description="The best website to learn react, php, laravel, golang and web development" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2299333508615100"
     crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Tech with Alberto</title>
  </head>
  <body>
    
  </body>
</html>